<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Title -->
        <title>Web</title>

        <!-- Styles -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>

    <body>
        <!-- Nav -->
        <nav class="navbar is-black" role="navigation">
            <div class="navbar-brand">
                <a href="/" class="navbar-item"><strong>Home</strong></a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <form method="get" action="{% url 'search' %}">
                            <div class="field has-addons">
                                <div class="control">
                                    <input type="text" class="input" placeholder="Search" name="query">
                                </div>
                                <div class="control">
                                    <a class="button is-success">Buscar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="navbar-end">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'notifications' %}" class="navbar-item">Notificaciones ({{notifications.count }})</a>
                        <a href="{% url 'search' %}" class="navbar-item">Busqueda</a>
                        <a href="{% url 'conversaciones' %}" class="navbar-item">Conversaciones</a>
                        <a href="{% url 'feed' %}" class="navbar-item">Feed</a>
                        <a href="{% url 'userprofile' request.user.username %}" class="navbar-item">Perfil</a>
                        <a href="{% url 'edit_profile' %}" class="navbar-item">Editar Perfil</a>
                    {% endif %}
                    <div class="navbar-item">
                        <div class="buttons">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'logout' %}" class="button is-danger"><strong>Log Out</strong></a>
                            {% else %}
                                <a href="{% url 'signup' %}" class="button is-success"><strong>Sign Up</strong></a>
                                <a href="{% url 'login' %}" class="button is-light"><strong>Log In</strong></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <section class="section">
                {% block content %}
                {% endblock %}
        </section>
        <!--Scripts-->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>