{% extends 'core/base.html' %}

{% load humanize %}

{% block content%}
    <div class="container" id="appconversacion">
        <div class="columns">
            <div class="column is-12">
                <h1 class="tittle">Conversacion</h1>
                {% if not notifications %}
                    <p>No tienes notificaciones</p>
                {% endif %}
                <div class="wrapper-posts">
                    {% for notification in notifications %}
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    {% if notification.created_by.userprofile.avatar %}
                                        <img src="{{ notification.created_by.userprofile.avatar.url }}">
                                    {% endif %}
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        {% if notification.notification_type == 'mensaje' %}
                                            
                                            <strong>{{ notification.created_by.username }} te ha escrito!</strong>
                                            <small>{{ notification.created_at|naturaltime }}</small>
                                            <a href="{% url 'notifications' %}?goto=conversacion&notification={{ notification.id }}" 
                                            class="button is-success">Ver conversacion</a>
                                        {% else %}
                                            <strong>Le has gustado a {{ notification.created_by.username }}!</strong>
                                            <small>{{ notification.created_at|naturaltime }}</small>
                                            <a href="{% url 'notifications' %}?goto=userprofile&notification={{ notification.id }}"
                                             class="button is-success">Visitar perfil</a>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}