{% extends 'core/base.html' %}

{% load humanize %}

{% block content%}
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <h1 class="tittle">Who likes you {{ user.username }}</h1>
                <p>Likes recividos: {{ user.userprofile.likes.count }}</p>
            </div>
        </div>
        <div class="columns">
            <div class="column is-8">
                {% for user in user.userprofile.likes.all %}
                    <p> 
                        <figure>
                            <p class="image is-64x64">
                                <img src="{{ user.user.userprofile.avatar.url }}">
                                <a href="{% url 'userprofile' user.user.username %}">{{ user.user.username }}</a>
                            </p>
                        </figure>
                       
                    </p>
                {% empty%}
                    {% if request.user == user %}
                        <p>No quieres a nadie</p>
                    {% else%}
                        <p>{{ user.username }} no quiere nadie</p>
                    {% endif %}
                    
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
